@font-face {
    font-family: Avenir-Book;
    src: url("/assets/fonts/nexalight.ttf") format("truetype"); 
}

body {
    background-color: rgba(0, 0, 0, 0); 
    margin: 0px auto; 
    overflow: hidden; 
    width: 600px;
    height: 1200px;
}
